.animacion{
    width:100%;
    background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    text-align: center;
    margin: 0 auto;
    position:relative;
    color: #fff;
    text-decoration: none;
    display: block;
    top: 50px;;
    font-weight: normal;
    border-radius: 6px;
    overflow: hidden;
}
.animacion:hover{
    -webkit-animation: play 1.6s ease-in infinite;
}
.animacion span{
    padding: 14px 0;
    font-size: 18px;
    display: block;
    margin: 3px;
    background: rgb(231, 105, 21);
    border-radius: 3px;
}
@-webkit-keyframes play{
    0%{
        background-position: 0px;       
    }
    20%{
        background-position: -110px;
    }
    35%{
        background-position: -180px;
    }
    50%{
        background-position: -210px;
    }
    80%{
        background-position: -350px;
    }
    100%{
        background-position: -390px;
    }
}
.imgcsl{
    position:absolute;
    height: auto;
    top: 150px;
}
.mb-3{
    position: relative;
    top: 75px;
}
.border{
    padding: 0px;
    display:block;
    position: absolute;
    
    
}